@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #1d4ed8;
  box-sizing: border-box;
}
main {
  width: 400px;
  margin: auto;
}
header > h1 {
 text-align: center;
 color:#fff;
}
#drum-machine {

}

#display {
  background-color: #fff;
  width: 350px;
  height: 128px;
  border-radius: 10px;
}

.drum-pad {
  box-model: border-box;
  background-color: #bfdbfe;
  width: 100px;
  height: 64px;
  border-radius: 10px;
  color: #1d4ed8;
  box-shadow: 0 9px #60affa;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.drum-pad:active {
  box-shadow: 0 5px #60affa;
  transform: translateY(4px);
}

